* {
  box-sizing: border-box;
}

body{
  margin: 0;
  color: white;
}

h1, p, h3 {
  margin: 0;
}

header {
  background-color: #555;
  width: 100%;
  height: 150px;
  /* visibility: hidden; */
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

header #encabezado{
  /* border: 1px solid yellow; */
  width: 35%;
}

header #redes-sociales{
  /* border: 1px solid cyan; */
  width: 15%;
  /* se desactiva por que anula el space between */
  /* margin-left: auto; */
  align-self: flex-start;
}

#redes-sociales img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 5px;
}

h1{
  text-shadow: 2px 2px 2px gold;
  color: #111;
  font-size: 50px;
}

main {
  width: 100%;
  background-color: #689;
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contacto {
  width: 100%;
  background-color: green;
}

section {
  /* border: 1px dashed orange; */
  width: 30%;
  background-color: #943;
  /* height: 175px; */
  padding: 20px;
  /* overflow: hidden; */
}

footer {
  background-color: purple;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

nav, nav div{
  width: 100%;
  height: 40px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div{
  /* border: 1px solid gold; */
  width: 60%;
  justify-content: space-evenly;
}

nav a {
  /* border: 1px solid yellow; */
  background-color: cornflowerblue;
  width: 100px; 
  height: 30px;
  /* REEMPLAZADO POR display: flex EN NAV
  display: inline-block; */
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-variant: small-caps;
  border-radius: 10px;
}

#primera-seccion{
  height: 175px;

  /* PROPIEDAD OVERFLOW */
  overflow: visible;  /* estado natural */
  overflow: hidden;   /* no se muestra el contenido que rebalsa */
  overflow:scroll;    /* agrega una barra para hacer scroll */
  overflow:auto;      /* parecido al scroll pero las barras innecesarias no se muestran */

  /* PROPIEDAD RESIZE */
  /* permmite cambiar el tamaño de un elemento desde una esquina */
  resize: none;         /* propiedad por defecto, el elemento no resizea */
  resize: horizontal;   /* modificar tamaño horizontalmente */
  resize: vertical;     /* mismo pero vetical */
  resize: both;         /* ambos lados */

  /* PROPIEDADES MAX Y MIN */
  /* permite configurar un maximo y minimo de tamaño para el elemento */
  /* para que no entre en conflicto con otros elementos alrededor */
  max-width: 40%;
  max-height: 400px;
  min-width: 20%;
  min-height: 100px;

  /* CONTINUAR DESDE 2:10:00 */
}

h1{
  margin-left: 20px;
}

#logo img {
  width: 80px;
  height: 80px;
  margin-left: 15px;
}

/* #logo {
  border: 1px solid magenta;
} */ 

/* las mascaras se aplican a elementos de imagen para poder delimitar
el limite de las mismas como vamos a hacer en el siguiente ejemplo con
el logo de powerpoint*/

#mascara {
  /* border: 1px solid cyan; */
  border-radius: 10px;
  height: 80px;
  width: 61px;
  overflow: hidden;
}

/* se pueden hacer mascaras de distintas formas modificando el border-radius */