* {
  box-sizing: border-box;
}

body{
  margin: 0;
  color: white;
}

h1, p, h3 {
  margin: 0;
}

header {
  background-color: #555;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

img {
  width: 64px;
  align-items: center;
}

header #encabezado{
  width: 35%;
}

header #redes-sociales{
  width: 15%;
  align-self: flex-start;
}

#redes-sociales img {
  width: 35px;
  height: 35px;
  margin-top: 20px;
  margin-right: 5px;
}

h1{
  text-shadow: 2px 2px 2px gold;
  color: #111;
  font-size: 50px;
}

main {
  width: 100%;
  background-color: #689;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contacto {
  width: 100%;
  /* background-color: green; */
}

section {
  width: 30%;
  background-color: #943;
  padding: 20px;
}

footer {
  background-color: purple;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

nav, nav div{
  width: 100%;
  height: 40px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div{
  width: 60%;
  justify-content: space-evenly;
}

/* PSEUDOCLASE LINK (si el sitio no fue visitado) */
/* PSEUDOCLASE VISITED (si el sitio fue visitado) */
/* TIENE QUE ESTAR ANTES DE HOVER */
nav a:link, nav a:visited{
  background-color: #fff;
  color: #000;
}

/* !RETOMAR 1:46:30 */

section img:hover {
  opacity: 0.5;
}


/* PSEUDOCLASE HOVER */
/* TIENE QUE ESTAR ANTES DE ACTIVE */
nav a:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

/* PSEUDOCLASIVE ACTIVE (al hacer click)*/
nav a:active{
  background-color: #888;
  color: #eee;
  border: 1px solid magenta;
}

nav a {
  background-color: cornflowerblue;
  width: 100px; 
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-variant: small-caps;
  border-radius: 10px;
}


/* #primera-seccion{ */
main section:first-child{ /* detecta los primeros elementos de todos los hijos de algo */
  background-color: red;


  height: 175px;

  /* PROPIEDAD OVERFLOW */
  overflow: visible;  /* estado natural */
  overflow: hidden;   /* no se muestra el contenido que rebalsa */
  overflow:scroll;    /* agrega una barra para hacer scroll */
  overflow:auto;      /* parecido al scroll pero las barras innecesarias no se muestran */

  /* PROPIEDAD RESIZE */
  resize: none;         /* propiedad por defecto, el elemento no resizea */
  resize: horizontal;   /* modificar tamaño horizontalmente */
  resize: vertical;     /* mismo pero vetical */
  resize: both;         /* ambos lados */

  max-width: 40%;
  max-height: 400px;
  min-width: 20%;
  min-height: 100px;

}

main section:last-child {
  background-color: darkblue;
}

h1{
  margin-left: 20px;
}

#logo img {
  width: 80px;
  height: 80px;
  margin-left: 15px;
}



#mascara {
  border-radius: 10px;
  height: 80px;
  width: 61px;
  overflow: hidden;
}

label, input, button {
  display: block;
  margin: 5px;
}

textarea {
  display: block;
  resize: horizontal; /* aclaramos el resize */
}

form, button {
  margin-top: 20px;
}

input {
  width: 100px;
}

input:focus { /* al hacer click en el campo o el label asignado */
  width: 235px;
}

/* SELECTORES AVANZADOS USANDO PSEUDOCLASES */

